.expense-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    gap: 1;
    background-color: #4d4b4b;
    box-shadow: 0 1px 8px rgba(32, 31, 31, 0.5);
    border-radius: 12px;

}

.expense_description{
    color: white;
    font-size: 25px;
    font-weight: bold;

}

.price{
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #40005d;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px;

}

.items{
    display: flex;
    flex-direction: row;
}

